<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyf.boot.domain.User">

	<select id="findUserAllPermission" parameterType="string"
		resultType="string">
		select a.right_id from h_right a,h_role_right b,h_role
		c,h_user d,h_user_role f
		where a.right_id = b.right_id 
		and b.role_code = c.roleCode 
		and c.roleCode = f.role_code 
		and d.user_code = f.user_code 
		and d.user_code = #{usercode,jdbcType=VARCHAR}
	</select>

</mapper>