<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="content :: common_header(~{::title},~{::link},~{::script})">
<title>回放服务</title>
<link/>
<script type="text/javascript" th:src="@{/custom/js/replay.js}"></script>
</head>
<body>
	<div class="container" style="height:400px;width:600px;margin: 1px 1px 1px 1px;">
		<table id="dg"></table>
		<form id="conds" style="margin: 0 0 0 0">
			<table style="height:42px;font-size:12px;">
				<tr>
					<td style="width:80px;"><p align="center">对比结果</p></td>
					<td><input id="diffCode" class="easyui-combobox"
						name="diffCode"
						data-options="valueField:'id',textField:'text',value:'1',data:[{'id':1,'text':'1-相同'},{'id':2,'text':'2-不同'}]" />
					</td>
					<td><a id="searchId" href="javascript:doFind();"
						class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
					</td>
					<td><a id="helpId" href="javascript:help();"
						class="easyui-linkbutton" data-options="iconCls:'icon-help'">帮助</a>
					</td>
				</tr>
			</table>
		</form>
		<div id="win"></div>
	</div>

</body>
</html>