<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="content :: common_header(~{::title},~{::link},~{::script})">
<title>用户管理</title>
<link/>
<script type="text/javascript" th:src="@{/custom/js/user.js}"
	src="../../static/custom/js/user.js"></script>
</head>
<body>
	<div class="container" style="margin: 1px 1px 1px 1px;">
		<table id="dg"></table>
		<form id="conds" style="margin: 0 0 0 0">
			<table style="height:42px;font-size:12px;">
				<tr>
					<td style="width:60px;"><p align="center">用户号</p></td>
					<td>
						<input id="usercode" name="usercode" class="easyui-validatebox" />  
					</td>
					<td style="width:80px;"><p align="center">用户名称</p></td>
					<td>
						<input id="username" name="username" class="easyui-validatebox" />
					</td>
					<td style="width:60px;"><p align="center">状态</p></td>
					<td><input id="status" class="easyui-combobox"
						name="status"
						data-options="valueField:'id',textField:'text',value:'1',data:[{'id':0,'text':'0-无效'},{'id':1,'text':'1-有效'}]" />
					</td>
					<td><a id="searchId" href="javascript:doFind();"
						class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
					</td>
					<td><a id="searchId" href="javascript:doAdd();"
						class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加</a>
					</td>
					<td><a id="searchId" href="javascript:doModify();"
						class="easyui-linkbutton" data-options="iconCls:'icon-edit'">变更</a>
					</td>
				</tr>
			</table>
		</form>
		<div id="win"></div>
	</div>
</body>
</html>