<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyf.boot.domain.mapper.fixed.FmtCodeMapper" >
  <resultMap id="BaseResultMap" type="com.xyf.boot.domain.FmtCode" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="tranCode" property="tranCode" jdbcType="VARCHAR" />
    <result column="msgSeq" property="msgSeq" jdbcType="INTEGER" />
    <result column="requestTime" property="requestTime" jdbcType="VARCHAR" />
    <result column="responseTime" property="responseTime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="diffCode" property="diffCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, tranCode, msgSeq, requestTime, responseTime, status, diffCode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from h_fmt_code
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from h_fmt_code
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xyf.boot.domain.FmtCode" >
    insert into h_fmt_code (uuid, tranCode, msgSeq, 
      requestTime, responseTime, status, 
      diffCode)
    values (#{uuid,jdbcType=VARCHAR}, #{tranCode,jdbcType=VARCHAR}, #{msgSeq,jdbcType=INTEGER}, 
      #{requestTime,jdbcType=VARCHAR}, #{responseTime,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{diffCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xyf.boot.domain.FmtCode" >
    insert into h_fmt_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="tranCode != null" >
        tranCode,
      </if>
      <if test="msgSeq != null" >
        msgSeq,
      </if>
      <if test="requestTime != null" >
        requestTime,
      </if>
      <if test="responseTime != null" >
        responseTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="diffCode != null" >
        diffCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="tranCode != null" >
        #{tranCode,jdbcType=VARCHAR},
      </if>
      <if test="msgSeq != null" >
        #{msgSeq,jdbcType=INTEGER},
      </if>
      <if test="requestTime != null" >
        #{requestTime,jdbcType=VARCHAR},
      </if>
      <if test="responseTime != null" >
        #{responseTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="diffCode != null" >
        #{diffCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xyf.boot.domain.FmtCode" >
    update h_fmt_code
    <set >
      <if test="tranCode != null" >
        tranCode = #{tranCode,jdbcType=VARCHAR},
      </if>
      <if test="msgSeq != null" >
        msgSeq = #{msgSeq,jdbcType=INTEGER},
      </if>
      <if test="requestTime != null" >
        requestTime = #{requestTime,jdbcType=VARCHAR},
      </if>
      <if test="responseTime != null" >
        responseTime = #{responseTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="diffCode != null" >
        diffCode = #{diffCode,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xyf.boot.domain.FmtCode" >
    update h_fmt_code
    set tranCode = #{tranCode,jdbcType=VARCHAR},
      msgSeq = #{msgSeq,jdbcType=INTEGER},
      requestTime = #{requestTime,jdbcType=VARCHAR},
      responseTime = #{responseTime,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      diffCode = #{diffCode,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>