<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links,scripts)">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
<title th:replace="${title}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/easyui.css}"
	href="../../static/css/easyui.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/icon.css}"
	href="../../static/css/icon.css" />

<th:block th:replace="${links}" />
<script type="text/javascript" th:src="@{/js/jquery.min.js}"
	src="../../static/js/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/util.js}"
	src="../../static/js/util.js"></script>
<script type="text/javascript" th:src="@{/js/jqueryUtil.js}"
	src="../../static/js/jqueryUtil.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.easyui.min.js}"
	src="../../static/js/jquery.easyui.min.js"></script>
<th:block th:replace="${scripts}" />
</head>
<body>
	<div th:fragment="content">content</div>
</body>
</html>