<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links,scripts)">
<title th:replace="${title}">Layout</title>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/easyui.css}"
	href="../../static/css/easyui.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/icon.css}"
	href="../../static/css/icon.css" />

<th:block th:replace="${links}" />
<script type="text/javascript" th:src="@{/js/jquery.min.js}"
	src="../../static/js/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/util.js}"
	src="../../static/js/jqueryUtil.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.easyui.min.js}"
	src="../../static/js/jquery.easyui.min.js"></script>
<script type="text/javascript" th:src="@{/js/index.js}"
	src="../../static/js/index.js"></script>
<script type="text/javascript">
	function addItem(title, url, clsClass) {
		if ($('#main_tabs').tabs('exists', title)) {
			$('#main_tabs').tabs('select', title);
		} else {
			var content = '<iframe scrolling="auto" frameborder="0"  src="'
					+ url + '" style="width:100%;height:100%;"></iframe>';
			$('#main_tabs').tabs('add', {
				title : title,
				content : content,
				closable : true,
				iconCls : clsClass
			});
		}
	}
</script>

<th:block th:replace="${scripts}" />
</head>
<body class="easyui-layout" style="border:1"
	th:fragment="mainContent">
	<div data-options="region:'north',height:'98px'">
		<div style="position:relative;">
			<img th:src="@{/css/icons/logo.jpg}"
				style="margin-top:5px;margin-left:10px;height:80px;width:160px'" />
			<img th:src="@{/css/icons/title.png}"
				style="position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;margin-top:5px;"
				height="80px" width="897.8px" />
		</div>
		<div style="position: absolute; right: 10px; bottom: 10px;">
			<a href="javascript:void(0);" class="easyui-menubutton"
				menu="#layout_north_zxMenu" iconCls="icon-help">帮助</a>
		</div>
		<div id="layout_north_zxMenu" style="width:80px;display:none;">
			<div onclick="passwordModify();" data-options="iconCls:'icon-edit'">修改密码</div>
			<div class="menu-sep"></div>
			<div onclick="logout();" data-options="iconCls:'icon-reload'">重新登录</div>
			<div onclick="logout(true);" data-options="iconCls:'icon-cancel'">退出系统</div>
			<div onclick="help();" data-options="iconCls:'icon-help'">版本</div>
		</div>
	</div>
	<div
		data-options="region:'west',split:true,hideCollapsedContent:false,collapsible:false"
		title="系统导航"
		style="width:130px;margin:1px 1px 1px 1px;padding:0px 0px 0px 0px;">
		<div id="menuAccordion"></div>
	</div>
	<div class="easyui-tabs"
		data-options="region:'center',fit:true,border:false,plain:true"
		id="main_tabs">
		<div title="首页" style="padding:5px" id="indexPage">
			<div style="margin:10% 26%; font-size:28px;">Welcome to Replay
				System !</div>
		</div>
	</div>
	<div data-options="region:'south',height:'20px',background:'pink'">
		<div style="margin-left:600px">Copyright @ xiyifeng 2016 - 2020
			All rights reserved</div>
	</div>
	<div id="childUse"></div>
</body>
</html>