<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="content">
<head>
<title>login</title>
<script type="text/javascript" th:src="@{/js/login.js}"></script>
</head>
<body>
	<div layout:fragment="content">
		<form id="loginForm" action="login" method="post"
			style="margin-left:40%;margin-top:200px;">
			<table>
				<tr>
					<th>用户名</th>
					<td><input class="easyui-validatebox" type="text"
						name="userName" data-options="required:true" style="width:150px;" value="xiyf" />
					</td>
				</tr>
				<tr>
					<th><label for="password" style="width:80px;">密&nbsp;码</label></th>
					<td><input class="easyui-validatebox" type="password"
						name="password" data-options="required:true" style="width:150px;" value="xiyf"/>
					</td>
				</tr>
			</table>
			<div style="padding-left:100px;">
				<a id="loginButton" href="javascript:login();" class="easyui-linkbutton"
					data-options="iconCls:'icon-ok'">登&nbsp;&nbsp;陆</a>
			</div>
		</form>
	</div>
</body>
</html>