<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="content :: common_header(~{::title},~{::link},~{::script})">
<meta charset="UTF-8" />
<title>Replay System</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords"
	content="html5, css3, form, switch, animation, :target, pseudo-class" />
<meta name="author" content="Codrops" />
<link rel="stylesheet" type="text/css" th:href="@{/custom/css/login.css}"
	href="css/login.css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/custom/css/style.css}" href="css/style.css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/custom/css/animate-custom.css}"
	href="css/animate-custom.css" />
<script type="text/javascript" th:src="@{/js/login.js}"></script>
</head>
<body>
	<div class="container" th:fragment="content">
		<section style="margin-top:10%;">
			<div id="container_demo">
				<a class="hiddenanchor" id="toregister"></a> <a class="hiddenanchor"
					id="tologin"></a>
				<div id="wrapper">
					<div id="login" class="animate form">
						<form action="login" autocomplete="on">
							<h1>Replay System</h1>
							<p>
								<label for="usercode" class="uname" data-icon="u">用户名</label> <input
									id="usercode" name="usercode" type="text"
									placeholder="eg. username" nullmsg="用户名不能 为空!" />
							</p>
							<p>
								<label for="password" class="youpasswd" data-icon="p">
									密码 </label> <input id="password" name="password" 
									type="password" placeholder="eg. X8df!90EO"
									nullmsg="密码不能为空!" />
							</p>
							<p class="keeplogin">
								<input type="checkbox" name="loginkeeping" id="loginkeeping"
									value="loginkeeping" /> <label for="loginkeeping">记住我</label>
							</p>
							<p class="login button">
								<input type="button" value="登陆" id="loginButton" />
							</p>
							<p><div id="alertMessage"></div></p>
						</form>
					</div>
				</div>
				<div id="alertMessage"></div>
			</div>
		</section>
	</div>
</body>
</html>