<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatis.defaultMapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.cqrcb.boot.domain.Role" >
    <id column="roleCode" property="roleCode" jdbcType="INTEGER" />
    <result column="roleName" property="roleName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="VARCHAR" />
    <result column="modifyer" property="modifyer" jdbcType="VARCHAR" />
    <result column="modify_time" property="modify_time" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    roleCode, roleName, remark, creater, create_time, modifyer, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from h_role
    where roleCode = #{roleCode,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from h_role
    where roleCode = #{roleCode,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cqrcb.boot.domain.Role" >
    insert into h_role (roleCode, roleName, remark, 
      creater, create_time, modifyer, 
      modify_time)
    values (#{roleCode,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{create_time,jdbcType=VARCHAR}, #{modifyer,jdbcType=VARCHAR}, 
      #{modify_time,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cqrcb.boot.domain.Role" >
    insert into h_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleCode != null" >
        roleCode,
      </if>
      <if test="roleName != null" >
        roleName,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="modifyer != null" >
        modifyer,
      </if>
      <if test="modify_time != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleCode != null" >
        #{roleCode,jdbcType=INTEGER},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=VARCHAR},
      </if>
      <if test="modifyer != null" >
        #{modifyer,jdbcType=VARCHAR},
      </if>
      <if test="modify_time != null" >
        #{modify_time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqrcb.boot.domain.Role" >
    update h_role
    <set >
      <if test="roleName != null" >
        roleName = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=VARCHAR},
      </if>
      <if test="modifyer != null" >
        modifyer = #{modifyer,jdbcType=VARCHAR},
      </if>
      <if test="modify_time != null" >
        modify_time = #{modify_time,jdbcType=VARCHAR},
      </if>
    </set>
    where roleCode = #{roleCode,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqrcb.boot.domain.Role" >
    update h_role
    set roleName = #{roleName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=VARCHAR},
      modifyer = #{modifyer,jdbcType=VARCHAR},
      modify_time = #{modify_time,jdbcType=VARCHAR}
    where roleCode = #{roleCode,jdbcType=INTEGER}
  </update>
</mapper>